
body{
    background-color: #aad8f4 !important;
    margin: 0px;
    padding: 0px;
}
.nav-item{
    margin-left: 30px;
}
.nav-item:hover{
     background-color: #aad8f4;
     border-radius: 10%;   
     
}
.section{
    display: flex;
    flex-flow: row wrap;
}

.sec{
    width:100%;
    background-color: #f0ffff;
    /* margin:10px; */
    /* border-radius: 20px; */
    min-width: 350px;
}

.section-heading{
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    text-decoration:underline;
    letter-spacing: 2px;
}

.hero{
    display: flex;
    flex-flow: row wrap; 
    justify-content: center;
    
}
.hero-contact{
    align-content: center;
    padding-left: 30px;
    flex-grow: inherit;
}
.h{ 
    margin: 5px;
    /* background-color: aqua; */
    
}   
.about{
    display: flex;
    flex-flow: row wrap; 
    justify-content: center;
}
.a{
    
    margin: 5px;
   
}
.skills{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-between;
}
.s{
    width:150px;
    height:150px;
    margin: 5px;
    background-color: #0fa4af;
    border-radius: 10px;
}
.range-all{
    display: flex;
    flex-flow: row wrap;
}
.range{
    margin:20px;
    min-width:300px;
}
.education{
    display: flex;
    flex-flow: row wrap; 
    justify-content: center;
}
.e{
    width:400px;
    min-width:200px;
    padding-left: 20px;
    margin:4px 10px;
    border-left: 2px solid black ;
    border-bottom: 4px solid rgb(200, 235, 234);
    border-radius: 20px;
   
}
.degree{
    color:#0a21c0;
}
.date{
    color: #2c2e3a;
    font-weight: 600;
}
.cmark,.smark{
  color : #050a44;
  font-weight: 800;
}
.projects{
    display: flex;
    flex-flow: row wrap; 
    justify-content: center;
}
.p{
    width:400px;
    margin: 10px;
    padding-right: 10px;
    border-left: 2px solid black ;
    border-bottom: 4px solid rgb(200, 235, 234);
    border-radius: 20px;

}
.sec{
    display: flex;
    flex-flow: row wrap;
}
.contact{
    display: flex;
    flex-flow: row wrap;
    align-content: center; 
}

.form{
    float:left;
    flex-grow: 1;
    padding-left:20px;
    width: 300px;
    padding-right:30px;
}
.per{
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 500;
    padding-left:10px;
}
.personal{
    width: 350px;
}
.per-logos{
    text-align: center;
}

.am{
    font-weight: 600;
    font-size: 20px;    
}
.name{
    font-weight: 500;
    font-size: 40px;
}
.dev{
    font-weight: 600;
    font-size: 30px;
    color: gray;
}
.logo{
    margin: 10px;
    font-size: 30px;
}
@media only screen and (max-width:1200px) and (min-width:990px) {
    .hero-photo{
        width: 450px; 
    }
    .range{
        min-width: 250px;
    }

}
@media only screen and (max-width:990px) and (min-width:768px){
    .about-photo{
        display: none;
    }
    .range{
        min-width: 250px;
    }
    .range-all{
        justify-content: center;
    }
    .e{
        width: 250px;
    }
    .p{
        width: 600px;
    }
}
@media only screen and (max-width:768px) and (min-width:480px){
    .range{
        min-width: 400px;
    }
}
@media only screen and (max-width:480px){
    .name{
        font-size: 35px;
    }
}