
body{
    background-color: #aad8f4 !important;
    margin: 0px;
    padding: 0px;
}
.nav-item{
    margin-left: 30px;
}
.nav-item:hover{
     background-color: #aad8f4;
     border-radius: 10%;   
     
}
.section{
    display: flex;
    flex-flow: row wrap;
}

.sec{
    width:100%;
    background-color: azure;
    margin:10px;
}

.hero{
    display: flex;
    flex-flow: row wrap; 
}

.h{ 
    margin: 5px;
    /* background-color: aqua; */
    max-width: 700px;
    min-width: 500px;
}
.about{
    display: flex;
    flex-flow: row wrap; 
}
.a{
    width:500px;
    margin: 5px;
    background-color: aqua;
}
.education{
    display: flex;
    flex-flow: row wrap; 
}
.e{
    width:500px;
    margin: 5px;
    background-color: aqua;
}
.projects{
    display: flex;
    flex-flow: row wrap; 
}
.p{
    width:500px;
    margin: 5px;
    background-color: aqua;
}
.sec{
    display: flex;
    flex-flow: row wrap;
}
.s{
    width:500px;
    margin: 5px;
    background-color: aqua;
}
.hero-contact{
    align-content: center;
    padding-left: 30px;
    min-width: 300px;
}
.am{
    font-weight: 600;
    font-size: 20px;    
}
.name{
    font-weight: 500;
    font-size: 40px;
}
.dev{
    font-weight: 600;
    font-size: 30px;
    color: gray;
}